:root{
    --header-color: #fff;
    --site-color: #fafafa;
    --medium-accent: #353535;
    --dark-accent: #171717;
    --footer-color: linear-gradient(var(--medium-accent) 40%, var(--dark-accent));
    --footer-text-color: #fff;
    --barths-red: #E53235;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-wrap: break-word;
    font-size: 25px;
}

header {
    /*background: var(--header-color);*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    padding: 0 1em 0 1em;
}

header > div {
    align-self: center;
}
footer {
    display: block;
    background: var(--footer-color);
    min-height: 3em;
}
footer div {
    display: flow-root;
}
footer p {
    text-align: center;
    color: var(--footer-text-color);
}
footer p > a {
    color: var(--footer-text-color);
    text-decoration: none;
}
content {
    display: block;
    margin: 1em 0 1em 0;
}
service {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 0.5rem;
    justify-items: stretch;
    align-items: stretch;
}
service div {
    display: flow-root;
    text-align: center;
    border-radius: 0.2em;
    border: 1px solid var(--dark-accent);
    padding: 0.5em;
    background-color: var(--barths-red);
    color: var(--footer-text-color);
    font-weight: bold;
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center 90%;
}
service div.img {
    height: 180px;
}
service div img {
    max-height: 70%;
    max-width: 90%;
}
h1, p {
    color: var(--dark-accent);
}
content#text {
    background-image: url('/static/img/bg.JPG');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
content#text p {
    color: var(--footer-text-color);
    text-shadow: 0 0 5px black;
}
content#leistungen::after,
header::after {
    opacity: 0.3;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url('/static/img/bg.JPG');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    filter: opacity(30%);
}